* {
  box-sizing: border-box;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

html, body, #root, .App {
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid gainsboro;
  text-align: left;
  padding: 8px;
}
